<div class="row">
    <div class="col-md-12 text-center mt-5" role="alert">

        <h2>404 - Page Not Found</h2>
        <p>The page you're looking for doesn't exist.</p>
        <a href="/shop" class="btn btn-primary">Return to Shop</a>
    </div>
</div>