<h2>Register</h2>

{{#if errorMessage}}
  <div class="alert alert-danger">
    <strong>Error:</strong> {{errorMessage}}
  </div>
{{/if}}

{{#if successMessage}}
  <div class="alert alert-success">
    <strong>Success:</strong> {{successMessage}}
  </div>
  <a class='btn btn-success float-end' href='/login'>Proceed to Log in</a><br /><br /><br />
{{else}}
  <form action="/register" method="post">
      <div class='form-group'>
          <label for='userName'>User Name:</label>
          <input type='text' name='userName' id='userName' placeholder='User Name' required value='{{userName}}' class='form-control' aria-label="User Name"/>
      </div>
      <div class='form-group'>
          <label for='email'>Email Address:</label>
          <input type='email' name='email' id='email' placeholder='Email Address' required class='form-control' aria-label="Email Address"/>
      </div>
      <div class='form-group'>
          <label for='password'>Password:</label>
          <input type='password' name='password' id='password' placeholder='Password' required class='form-control' aria-label="Password"/>
      </div>
      <div class='form-group'>
          <label for='password2'>Confirm Password:</label>
          <input type='password' name='password2' id='password2' placeholder='Confirm Password' required class='form-control' aria-label="Confirm Password"/>
      </div>
      <button type='submit' class='btn btn-primary'>Register</button>
  </form>
{{/if}}
